@font-face {
    font-family: 'MyFont';
    src: url('./fonts/TradeGothic-LT-Bold-Regular.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    color: #451400;
    font-family: "MyFont";
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d4cbc7;
    font-size: 24px;
    padding: 1rem 2rem;
}

nav img {
    width: 100px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
}

li a {
    text-decoration: none;
}

.menu-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex: 1 1 100%;
    align-items: center;
    justify-content: center;
}

.entree {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.entree-image {
    max-height: 200px;
    max-width: 300px;
}

.entree-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    
}